#multiplayer-body {
    display: none;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
}

#multiplayer-body>div>i {
    color: var(--tertiary-color);
    font-weight: bold;
}

.multiplayer-focusable {
    transition-timing-function: ease-out;
    transition: visibility 0.2s;
}

.code-link {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.code-link>* {
    font-size: var(--text-size);
}

#copy-link-button {
    cursor: pointer;
}

.battle-stats {
    display: flex;
    justify-content: space-between;
}

.battle-stats * {
    color: var(--tertiary-color);
    font-size: var(--large-text);
}

.battle-stats p {
    font-size: var(--large-text);
    color: var(--tertiary-color);
    user-select: none;
    padding: .5rem;
}

.battle-stats>p:nth-child(2) {
    color: var(--header-color);
}

#battle-self-score {
    color: var(--tertiary-color);
}

#battle-enemy-score {
    color: var(--wrong-color);
}

#battle-heading {
    width: 100%;
    font-size: var(--header-size);
    color: var(--header-color);
    text-align: center;
}

#player-div,
#battle-paragraph-buttons,
#battle-heading {
    visibility: hidden;
}

#player-div>.player-title {
    color: var(--tertiary-color);
}

.player-title {
    font-size: var(--large-text);
    text-align: center;
    margin-left: .5rem;
}

.player-title p:has(span#battle-self-wpm) {
    color: var(--header-color);
}

.player-title #battle-self-wpm {
    color: var(--tertiary-color);
}

.player-title #battle-enemy-wpm {
    color: var(--wrong-color);
}

#multiplayer-loading {
    display: flex;
}

#multiplayer-body div:not(:first-child) {
    width: 100%;
}

@media only screen and (max-width: 560px) {
    .code-link {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .code-link span {
        grid-column: 1/3;
    }
}