#multiplayer-body {
    display: none;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
}

#multiplayer-body>div>i {
    color: var(--tertiary-color);
    font-weight: bold;
}

.multiplayer-focusable {
    transition-timing-function: ease-out;
    transition: visibility 0.2s;
}

.code-link {
    width: 60%;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.code-link>* {
    font-size: var(--text-size);
}

#copy-link-button {
    cursor: pointer;
}

.battle-stats {
    display: flex;
    justify-content: space-between;
}

.battle-stats * {
    color: var(--tertiary-color);
    font-size: var(--large-text);
}

.battle-stats p {
    font-size: var(--large-text);
    color: var(--tertiary-color);
    user-select: none;
    padding: .5rem;
}

.battle-stats>p:nth-child(2) {
    color: var(--header-color);
}

#battle-self-score {
    color: var(--tertiary-color);
}

#battle-enemy-score {
    color: var(--wrong-color);
}

#battle-heading {
    width: 100%;
    font-size: var(--header-size);
    color: var(--header-color);
    text-align: center;
}

#enemy-div,
#player-div,
#battle-paragraph-buttons {
    /* display: none; */
}

#player-div>.player-title {
    color: var(--tertiary-color);
}

.player-title {
    font-size: var(--large-text);
    text-align: center;
    margin-left: .5rem;
}

.player-title p:has(span#battle-self-wpm) {
    color: var(--header-color);
}

.player-title #battle-self-wpm {
    color: var(--tertiary-color);
}

.player-title #battle-enemy-wpm {
    color: var(--wrong-color);
}

#multiplayer-loading {
    display: flex;
}

#multiplayer-body div:not(:first-child) {
    width: 100%;
}

.code-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
}

.code-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    min-height: 10rem;
    min-width: 10rem;
}

.code-body>input {
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    font-size: var(--text-size);
    padding: .5rem;
    width: 100%;
    color: var(--header-color)
}

.code-body>input:focus-visible {
    border-color: var(--header-color);
}

.code-body>p {
    font-size: var(--text-size);
}

.code-body>button {
    width: 100%;
    font-size: var(--medium-text);
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}

.code-body>button:hover {
    cursor: pointer;
    background-color: var(--header-color);
    color: var(--text-color);
}